__pycache__/
*.py[cod]
*.egg-info/
.venv/
.venv*/
.pytest_cache/
.python-version
.mypy_cache/
.ruff_cache/
.tox/
.nox/
build/
dist/
pip-wheel-metadata/
.coverage
.coverage.*
coverage.xml
htmlcov/
.hypothesis/
.ipynb_checkpoints/
.idea/
.vscode/
.DS_Store

.artifacts/
.test-artefacts/
.content/
.pyuser/
